.about-section {
  width: 100%;
  position: relative;
}

.about_counter {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-card {
  background: #fff;
  border-radius: 20px;
  min-height: 260px;
  max-width: 300px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

.about-icon {
  font-size: 45px;
  color: #4d164c;
}

.about-card h1 {
  margin-top: 15px;
  font-size: 2rem;
  color: #230349;
}

.about-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #230349;
}


@media (max-width: 768px) {
  .about_counter {
    margin-top: -60px;
  }
}


  .about-card {
    max-width: 90%;
    min-height: 220px;
  }
 